<h1 mat-dialog-title>Añadir pago a {{lot?.name}}</h1>
<div mat-dialog-content>
  <form [formGroup]="newPaymentForm" class="divForm">
    <div style="display: flex; gap:10px">
      <mat-form-field appearance="outline">
        <mat-label>Monto</mat-label>
        <input matInput type="number" min="1" formControlName="amount">
        <mat-error *ngIf="this.amount.hasError('required')">Debe ingresar un monto</mat-error>
        <mat-error *ngIf="this.amount.hasError('min')">Debe ingresar un monto válido</mat-error>
        <mat-error *ngIf="this.amount.hasError('max')">Estás superando el saldo pendiente</mat-error>
        <mat-hint>Saldo pendiente: {{ this.getBalance() | currency }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Motivo</mat-label>
        <mat-select formControlName="reason" placeholder="Motivo">
          <mat-option *ngFor="let reason of reasons" [value]="reason">{{reason}}</mat-option>
        </mat-select>
        <mat-error *ngIf="this.reason.hasError('required')">Debe indicar un motivo</mat-error>
      </mat-form-field>
    </div>


    <mat-form-field style="margin-top: 1.5rem;">
      <mat-label>Comprobante</mat-label>
      <div>
        <mat-toolbar>
          <input matInput [value]="fileName"/>
        </mat-toolbar>

        <input
          type="file"
          id="fileInput"
          (change)="selectFile($event)"
          name="fileInput"
        />
      </div>
      <mat-hint>Máximo 2MB</mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button data-testid="btnReserveInDialog" mat-button color="primary" [disabled]="newPaymentForm.invalid" (click)="addPayment()">Añadir pago</button>
</div>
