<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <b>Detalle de {{loteSeleccionado?.nombre}}</b>
    </h3>
  </div>

  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-4">Superficie</dt>
      <dd class="col-sm-8">{{loteSeleccionado?.superficie}}</dd>
      <dt class="col-sm-4">Estado</dt>
      <dd class="col-sm-8">{{loteSeleccionado?.estadoLote}}</dd>
      <dt class="col-sm-4">Metros frente</dt>
      <dd class="col-sm-8">{{loteSeleccionado?.metrosFrente}}</dd>
      <dt class="col-sm-4">Metros fondo</dt>
      <dd class="col-sm-8">{{loteSeleccionado?.metrosFondo}}</dd>
      <dt class="col-sm-4">Nro cuenta catastral</dt>
      <dd class="col-sm-8">{{loteSeleccionado?.nroCuentaCatastral}}</dd>
      <dt class="col-sm-4">Nro cuenta municipal</dt>
      <dd class="col-sm-8">{{loteSeleccionado?.nroCuentaMunicipal}}</dd>
      <dt class="col-sm-4">Luz</dt>
      <dd class="col-sm-8">
        <i *ngIf="loteSeleccionado?.tieneLuz; else elseblock" style='color: #28a745; border-color:#28a745 '
           class='fas fa-check'></i>
        <ng-template #elseblock>
          <i style='color: #e74c3c; border-color:#e74c3c ' class='fas fa-lg fa-times'></i>
        </ng-template>
      </dd>
      <dt class="col-sm-4">Agua</dt>
      <dd class="col-sm-8">
        <i *ngIf="loteSeleccionado?.tieneAgua; else elseblock" style='color: #28a745; border-color:#28a745 '
           class='fas fa-check'></i>
        <ng-template #elseblock>
          <i style='color: #e74c3c; border-color:#e74c3c ' class='fas fa-lg fa-times'></i>
        </ng-template>
      </dd>
      <dt class="col-sm-4">Precio</dt>
      <dd class="col-sm-8">{{loteSeleccionado?.precio | currency}}</dd>
    </dl>
    <button *ngIf="loteSeleccionado.estadoLote == 'DISPONIBLE'" mat-raised-button color="primary" (click)="reservar()">Reservar</button>

  </div>
</div>
