<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <img src="../../../assets/dist/img/logo2.png"
         alt="Land Tracker logo">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" [(selectedIndex)]="activeTabIndex">
      <mat-tab label="Login">
        <mat-card-content>
          <form [formGroup]="loginForm">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de usuario</mat-label>
              <input
                formControlName="username"
                matInput
                placeholder="Nombre de usuario"
                required
                name="username">
              <mat-error *ngIf="this.usernameLogin.hasError('required')">Debe ingresar un nombre de usuario</mat-error>
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                placeholder="Contraseña"
                [type]="hidePasswordLogin ? 'password' : 'text'"
                required
                formControlName="password">
              <mat-error *ngIf="this.passwordLogin.hasError('required')">Debe ingresar una contraseña</mat-error>
              <mat-icon matSuffix (click)="hidePasswordLogin = !hidePasswordLogin">{{hidePasswordLogin ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              [disabled]="!this.loginForm.valid"
              (click)="login()"
              mat-raised-button
              color="primary"
              class="login-button">
              Login
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Registrarse">
        <mat-card-content>
          <form [formGroup]="registerForm">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                placeholder="Nombre de usuario"
                required
                name="username"
                formControlName="username">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="this.usernameRegister.hasError('required')">Debe ingresar un nombre de usuario</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                placeholder="Contraseña"
                [type]="hidePasswordRegister ? 'password' : 'text'"
                required
                minlength="6"
                name="password"
              formControlName="password">
              <mat-error *ngIf="this.passwordRegister.hasError('required')">Debe ingresar una contraseña</mat-error>
              <mat-error *ngIf="this.passwordRegister.hasError('minlength')">La contraseña debe tener al menos 6 caracteres</mat-error>
              <mat-icon matSuffix (click)="hidePasswordRegister = !hidePasswordRegister">{{hidePasswordRegister ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                placeholder="Repite la contraseña"
                [type]="hideRepasswordRegister ? 'password' : 'text'"
                required
                name="repassword"
              formControlName="repassword">
              <mat-error *ngIf="repasswordRegister.errors">{{getErrorMessageRepassword()}}</mat-error>
              <mat-icon matSuffix (click)="hideRepasswordRegister = !hideRepasswordRegister">{{hideRepasswordRegister ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              [disabled]="!this.registerForm.valid"
              (click)="registerUser()"
              mat-raised-button
              color="primary"
              class="login-button">
              Registrarse
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
