<mat-card [ngStyle]="{'border-radius': '2%', 'border': getColorState() + ' 3px dashed' }">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{selectedLot?.name}}</mat-card-title>
    <mat-card-subtitle>Detalle del lote</mat-card-subtitle>
    <div class="chips-container">
      <span class="chip-item" style="font-size: 20px;">{{selectedLot?.price | currency}}</span>
      <mat-chip data-testid="chipStateLot" class="chip-item" [ngStyle]="{'background-color': getColorState()}">
        {{selectedLot?.state}}
      </mat-chip>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="lot-details">
      <div class="lot-detail-icon">
        <i class="icon fal fa-ruler-combined"></i>
        <span class="text-icon">{{selectedLot?.area | squareMeters }}</span>
      </div>
      <div class="lot-detail-icon">
        <i class="icon fal fa-ruler-vertical"></i>
        <span class="text-icon">{{selectedLot?.metersBack | meters}}</span>
      </div>
      <div class="lot-detail-icon">
        <i class="icon fal fa-ruler-horizontal"></i>
        <span class="text-icon">{{selectedLot?.metersFront | meters}}</span>
      </div>
      <div class="lot-detail-icon">
        <i [ngClass]="selectedLot?.hasLight ? 'icon fal fa-lightbulb' : 'icon fal fa-lightbulb-slash'"
        ></i>
        <span class="text-icon">Luz</span>
      </div>
      <div class="lot-detail-icon">
        <i [ngClass]="selectedLot?.hasWater ? 'icon fal fa-tint' : 'icon fal fa-tint-slash'"
        ></i>
        <span class="text-icon">Agua</span>
      </div>
    </div>
    <div class="detail-row" style="margin-top: 1.2rem">
      <div class="detail-row-text">
        <label>Cta catastral: </label>
        {{selectedLot?.cadastralAccNumber}}
      </div>
      <div class="detail-row-text">
        <label>Cta municipal: </label>
        {{selectedLot?.municipalAccNumber}}
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions align="end" style="margin-top: 1.2rem">
    <div style="display:flex">
      <button *ngIf="hasAssigned()" mat-stroked-button color="accent" (click)="openDialogMoreInfo()" style="margin-right: 1rem;">Información adicional</button>
      <button data-testid="btnReserveInLotDetail" *ngIf="canReserve()" mat-raised-button color="primary"
              (click)="reserve()">Reservar
      </button>
      <button *ngIf="canAddPayment()" mat-raised-button color="primary"
              (click)="addPayment()">Añadir pago
      </button>
      <div *ngIf="!hasAssigned()">
        <i class="fal fa-exclamation-circle" style="color: #ff5252; font-size: 18px;"></i>
        No tenés permisos para gestionar este lote
      </div>
    </div>
  </mat-card-actions>
</mat-card>

