.mat-card-green {
  border: #7bb95dab 3px dashed;
  border-radius: 2%;
}

.mat-card-yellow {
  border: #ffed48 3px dashed;
  border-radius: 2%;
}

.mat-card-red {
  border: #ff0000db 3px dashed;
  border-radius: 2%;
}

.card-header {
  display: flex;
  flex-wrap: wrap;
}

.chips-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.chip-item {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.example-header-image {
  background-image: url('https://terraz.com.ar/Content/img/prototipos.jpg');
  background-size: cover;
}

.lot-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lot-detail-icon {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  justify-content: center;
}

.lot-detail-icon * {
  margin: 0.2rem;
}

.icon {
  font-size: 3rem;
}

.text-icon {
  font-size: 1.5rem;
}

mat-card-content {
  margin: 1rem;
}

mat-card-actions {
  display: unset;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.actions-container * {
  flex: 0 0 calc(45% - 0.2rem);
  margin: 0.2rem;
}

.btn-reserve {
  flex: 0 0 calc(25% - 0.2rem) !important;
}

.label-permissions {
  flex: 0 0 calc(100% - 0.2rem) !important;
}

.label-permissions-icon {
  color: #ff5252;
  font-size: 1.1rem;
}

.detail-row {
  display: flex;
  margin-top: 1rem;
}

.detail-row-text {
  flex: 0 0 50%;
  font-size: 1.2rem;
}

@media screen and (max-width: 980px) {
  .actions-container * {
    flex-direction: column;
    align-items: normal;
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 1400px) {

  .actions-container * {
    flex-direction: column;
    align-items: normal;
    flex: 0 0 100% !important;
  }
}

@media screen and (max-width: 1720px) {

  .chips-container {
    justify-content: space-around;
  }
}
