<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{loteSeleccionado?.nombre}}</mat-card-title>
        <mat-card-subtitle>Detalle del lote</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem"><b>Superficie:</b> {{loteSeleccionado?.superficie}}</mat-list-item>
            <mat-list-item role="listitem"><b>Estado:</b> {{loteSeleccionado?.estadoLote}}</mat-list-item>
            <mat-list-item role="listitem"><b>Metros frente:</b> {{loteSeleccionado?.metrosFrente}}</mat-list-item>
            <mat-list-item role="listitem"><b>Metros fondo:</b> {{loteSeleccionado?.metrosFondo}}</mat-list-item>
            <mat-list-item role="listitem"><b>Nro cuenta
                catastral:</b> {{loteSeleccionado?.nroCuentaCatastral}}</mat-list-item>
            <mat-list-item role="listitem"><b>Nro cuenta
                municipal:</b> {{loteSeleccionado?.nroCuentaMunicipal}}</mat-list-item>
            <mat-list-item role="listitem"><b>Luz:</b>
                <i *ngIf="loteSeleccionado?.tieneLuz; else elseblock" style='color: #28a745; border-color:#28a745 '
                   class='fas fa-check'></i>
                <ng-template #elseblock>
                    <i style='color: #e74c3c; border-color:#e74c3c ' class='fas fa-lg fa-times'></i>
                </ng-template>
            </mat-list-item>
            <mat-list-item role="listitem"><b>Agua:</b>
                <i *ngIf="loteSeleccionado?.tieneAgua; else elseblock" style='color: #28a745; border-color:#28a745 '
                   class='fas fa-check'></i>
                <ng-template #elseblock>
                    <i style='color: #e74c3c; border-color:#e74c3c ' class='fas fa-lg fa-times'></i>
                </ng-template>
            </mat-list-item>

        </mat-list>

    </mat-card-content>
    <mat-card-actions align="end">
        <button *ngIf="loteSeleccionado.estadoLote == 'DISPONIBLE'" mat-raised-button color="primary"
                (click)="reservar()">Reservar
        </button>
    </mat-card-actions>
</mat-card>

