<div mat-dialog-content>
  <h1 mat-dialog-title>Información adicional de {{lot?.name}}</h1>
  <mat-tab-group>
    <mat-tab *ngIf="!lot.isAvailable()" label="Detalles reserva">
      <app-reserve-details (closeDialogEvent)="closeDialog()" [lot]="lot"></app-reserve-details>
    </mat-tab>
    <mat-tab *ngIf="!lot.isAvailable()" label="Detalles pagos">
      <app-payment-details-lot style="padding-top:1rem;" [lot]="lot"></app-payment-details-lot>
    </mat-tab>
    <mat-tab label="Comprobantes">
      <app-upload-files [lot]="lot"></app-upload-files>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cerrar</button>
</div>
