<h1>Inicio</h1>

<div class="dashboard-container-cards">
  <app-dashboard-card
    style="flex: 0 0 calc(25% - 2rem); margin: 1rem"
    backgroundColor="#17a2b8"
    title="150"
    content="Porcentaje vendidos"
    iconClass="fal fa-filter"
    iconFontSize="3.5rem"
  ></app-dashboard-card>

  <app-dashboard-card
    style="flex: 0 0 calc(25% - 2rem); margin: 1rem"
    backgroundColor="#3b509b"
    title="500"
    content=".........."
    iconClass="fal fa-home"
  ></app-dashboard-card>
</div>


<div class="dashboard-container-charts">
  <app-chart-lots></app-chart-lots>

</div>
