.dashboard-container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard-card {
  flex: 0 0 calc(25% - 2rem);
  margin: 1rem
}

.dashboard-card2 {
  flex: 0 0 calc(50% - 2rem);
  margin: 1rem;
}
@media (min-width: 1400px) {
  .dashboard-card2 {
    width: calc(50% - 2rem);
    margin: 1rem;
  }
}
.page-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px 6px;
  background: none;
  height: auto;
}

.tab-container {
  display: flex;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
  color: #b3b3b3;
  font-size: 1rem;
  position: relative;

}

.tab:first-child {
  border-top-left-radius: 5px;
}

.tab:last-child {
  border-top-right-radius: 5px;
}

.tab:hover {
  background-color: rgba(123, 185, 93, 0.04);
}

.tab::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}


.tab.active {
  color: #388e3c;
}

.tab.active::after {
  width: 100%;
  background-color: #388e3c;
}
