
<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Lotes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Lotes</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Mapa de lotes</h5>


                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 divRendererContainer">
                                  <div #rendererContainer>
                                    <div>
                                      <app-label-nro-lote
                                        id="{{lote.id}}"
                                        #childElement
                                        *ngFor="let lote of lotes; let i = index"
                                        [lote]="lote"
                                        [loteSeleccionado]="loteSeleccionado"
                                        [loteParaTooltip]="loteParaTooltip"
                                        (cerrarTooltipEvent)="cerrarTooltipDesdeHijo()">
                                      </app-label-nro-lote>
                                    </div>

                                  </div>
                                </div>
                                <div class="col-md-4" *ngIf="loteSeleccionado">
                                  <app-detalle-lote [loteSeleccionado]="loteSeleccionado"></app-detalle-lote>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
</div>
