<div>
  <mat-form-field>
    <div>
      <mat-toolbar>
        <input matInput [value]="selectedFileNames.length ? selectedFileNames.join(', ') : 'Seleccionar'" />

        <button
          mat-flat-button
          color="primary"
          [disabled]="!selectedFiles"
          (click)="uploadFiles()"
        >
          Subir
        </button>
      </mat-toolbar>

      <input
        type="file"
        id="fileInput"
        multiple
        (change)="selectFiles($event)"
        name="fileInput"
      />
    </div>
  </mat-form-field>
</div>


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Lista de archivos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let file of fileInfos">
        <a (click)="downloadFile(file.id, file.type)">{{ file.name }}</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
