<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Detalle de lote</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Detalle de lote</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <b>{{lote.nombre}}</b>
        </h3>
      </div>

      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4">Superficie</dt>
          <dd class="col-sm-8">{{lote.superficie}}</dd>
          <dt class="col-sm-4">Estado</dt>
          <dd class="col-sm-8">{{lote.estadoLote}}</dd>
          <dt class="col-sm-4">Metros frente</dt>
          <dd class="col-sm-8">{{lote.metrosFrente}}</dd>
          <dt class="col-sm-4">Metros fondo</dt>
          <dd class="col-sm-8">{{lote.metrosFondo}}</dd>
          <dt class="col-sm-4">Nro cuenta catastral</dt>
          <dd class="col-sm-8">{{lote.nroCuentaCatastral}}</dd>
          <dt class="col-sm-4">Nro cuenta municipal</dt>
          <dd class="col-sm-8">{{lote.nroCuentaMunicipal}}</dd>
          <dt class="col-sm-4">Luz</dt>
          <dd class="col-sm-8"><span [innerHTML]="lote.tieneLuz ? '<i class=\'fas fa-check btn-outline-success\'></i>' : '<i class=\'fas fa-lg fa-times btn-outline-danger\'></i>'"></span></dd>
          <dt class="col-sm-4">Agua</dt>
          <dd class="col-sm-8"><span [innerHTML]="lote.tieneAgua ? '<i class=\'fas fa-check btn-outline-success\'></i>' : '<i class=\'fas fa-lg fa-times btn-outline-danger\'></i>'"></span></dd>
          <dt class="col-sm-4">Precio</dt>
          <dd class="col-sm-8">${{lote.precio}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
