<h1>Asignación de lotes</h1>

<form [formGroup]="searchForm" class="form-container">
  <div class="content-container">
    <mat-form-field appearance="outline">
      <mat-label>Seleccione un usuario</mat-label>
      <mat-select data-testid="userFilter" formControlName="userFilter" (selectionChange)="onSelectUser($event.value)" placeholder="Usuario">
        <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="userFilter.value">
      <mat-label>Manzana</mat-label>
      <input data-testid="blockFilter" formControlName="blockFilter" matInput placeholder="Búsqueda de manzana" name="blockFilter"
             class="form-control">
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="userFilter.value">
      <mat-label>Zona</mat-label>
      <input data-testid="zoneFilter" formControlName="zoneFilter" matInput placeholder="Búsqueda de zona" name="zoneFilter"
             class="form-control">
    </mat-form-field>

    <button data-testid="btnConfirm" *ngIf="userFilter.value !== ''" mat-raised-button color="primary" class="confirmBtn" (click)="confirm()">
      Confirmar
    </button>
  </div>
</form>

<div *ngIf="userFilter.value">
  <p-table data-testid="tableLots" [value]="filteredLots" [(selection)]="selectedLots" dataKey="id" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Nombre
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="area">Superficie
          <p-sortIcon field="area"></p-sortIcon>
        </th>
        <th pSortableColumn="area">Manzana
          <p-sortIcon field="block"></p-sortIcon>
        </th>
        <th pSortableColumn="area">Zona
          <p-sortIcon field="zone"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lot>
      <tr>
        <td>
          <p-tableCheckbox [attr.data-testid]="'checkbox_' + lot.id" [value]="lot"></p-tableCheckbox>
        </td>
        <td>{{lot.name}}</td>
        <td>{{lot.area}}</td>
        <td>{{lot.block}}</td>
        <td>{{lot.zone}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
