.tooltip-map {
  pointer-events: auto;
  color:#ffffff;
  font-family: monospace;
  font-size: 14px;
  position: absolute;
  left: 25px;
  padding: 1em;
  width: 200px;
  background: rgba(0, 0, 0, 0.66);
  border-radius: .5em;
  transition: opacity .5s;
}
