<div>
  <app-buscador-lotes (changeLotesEventEmitter)="mostrarLotesFiltrados($event)"></app-buscador-lotes>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="fal fa-map" style="padding-right: 5px;"></i>
        Mapa de lotes
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="container">
      <div class="col-md-8 divRendererContainer">
        <div #rendererContainer>
          <div>
            <app-label-nro-lote
              id="{{lote.id}}"
              #childElement
              *ngFor="let lote of lotes; let i = index"
              [lote]="lote"
              [loteSeleccionado]="loteSeleccionado"
              [loteParaTooltip]="loteParaTooltip">
            </app-label-nro-lote>
          </div>

        </div>
      </div>
      <div class="col-md-4" *ngIf="loteSeleccionado">
        <app-detalle-lote (loteReservadoEvent)="cambiarEstadoLoteAReservado()"
                          [loteSeleccionado]="loteSeleccionado"></app-detalle-lote>
      </div>
    </div>
  </mat-expansion-panel>

</div>
