<h1 mat-dialog-title>Reserva {{lote.nombre}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input matInput disabled [(ngModel)]="lote.precio">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cliente</mat-label>
    <input matInput
           aria-label="Cliente"
           [matAutocomplete]="auto"
           [formControl]="clienteCtrl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option (click)="abrirDialogCreacionCliente()">
        Nuevo cliente
      </mat-option>
      <mat-option *ngFor="let cliente of clientes" [value]="cliente">
        <span>{{cliente.nombre}}</span> |
        <small>ID: {{cliente.id}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="lote" cdkFocusInitial>Reservar</button>
</div>
